/* layout 1 */

.layout-one-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
    "zone1 zone2 zone2"
    "zone3 zone3 zone3";
    text-align: center;
    overflow:hidden;
    padding: 0.2rem;
}

.layout-one-image-container {
    grid-area: zone1;
    height: 10rem;
    background-position: center;
    background-size:100%;
    background-repeat: no-repeat;
}

.layout-one-name {
    grid-area: zone2;
    align-self: center;
}

.layout-one-tagline {
    grid-area: zone3;
    align-self: center;
    height: 50%;
    word-wrap: break-word;
}

/* layout 2 */

.layout-two-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    column-gap: 0.5rem;
    grid-template-areas:
    "zone1 zone2 zone2"
    "zone1 zone3 zone3";
    text-align: center;
    overflow:hidden;
    padding: 0.2rem;
}

.layout-two-image-container {
    grid-area: zone1;
    background-position: center;
    background-size:100%;
    background-repeat: no-repeat;
}
.layout-two-image {
    height: 100%;
    width: 100%;
    place-content: center;
}

.layout-two-name {
    grid-area: zone2;
    align-self: center;
}

.layout-two-tagline {
    grid-area: zone3;
    align-self: center;
    height: 50%;
    word-wrap: break-word;
}

/* layout 3 */

.layout-three-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    grid-template-areas:
    "zone1 zone1 zone2"
    "zone3 zone3 zone3";
    text-align: center;
    overflow:hidden;
    padding: 0.2rem;
}

.layout-three-image-container {
    grid-area: zone2;
    height: 10rem;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.layout-three-image {
    height: 100%;
}

.layout-three-name {
    grid-area: zone1;
    align-self: center;
}

.layout-three-tagline {
    grid-area: zone3;
    align-self: center;
    height: 50%;
    word-wrap: break-word;
}

/* layout 4 */

.layout-four-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    column-gap: 0.5rem;
    grid-template-areas:
    "zone1 zone1 zone2"
    "zone3 zone3 zone2";
    text-align: center;
    overflow:hidden;
    padding: 0.2rem;
}

.layout-four-image-container {
    grid-area: zone2;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.layout-four-image {
    height: 100%;
    width: 100%;
    place-content: center;
}

.layout-four-name {
    grid-area: zone1;
    align-self: center;
}

.layout-four-tagline {
    grid-area: zone3;
    align-self: center;
    height: 50%;
    word-wrap: break-word;
}