/* layout 1 */

.layout-one-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
    "zone1 zone2 zone2"
    "zone3 zone3 zone3";
    text-align: center;
}

.layout-one-image-container {
    grid-area: zone1;
    height: 100%;
    max-height: 6rem;
    overflow: none;
}
.layout-one-image {
    height: 100%;
}

.layout-one-name {
    grid-area: zone2;
    align-self: center;
}

.layout-one-tagline {
    grid-area: zone3;
    align-self: center;
}

/* layout 2 */

.layout-two-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    column-gap: 0.5rem;
    grid-template-areas:
    "zone1 zone2 zone2"
    "zone1 zone3 zone3";
    text-align: center;
}

.layout-two-image-container {
    grid-area: zone1;
    height: 100%;
    max-height: 10rem;
    overflow: none;
}
.layout-two-image {
    height: 100%;
    align-self: center;
}

.layout-two-name {
    grid-area: zone2;
    align-self: center;
}

.layout-two-tagline {
    grid-area: zone3;
    align-self: center;
}