.right-menu {
    grid-area: right-menu;
    background-color: var(--primary-blue);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.right-menu::-webkit-scrollbar {
    display: none;
  }
  
