
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bona+Nova:wght@400;700&family=Charm:wght@400;700&family=Libre+Baskerville:wght@400;700&family=Lobster+Two:wght@400;700&family=Rajdhani:wght@400;700&family=Roboto+Condensed:wght@400;700&family=Sono:wght@400;700&family=Tangerine:wght@400;700&display=swap');

:root {
  --primary-blue: #1c1f4a;
  --secondary-blue: #362b94;
  --orange: #f1c65b;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, select {
  font-family: inherit;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Condensed', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
